<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SesliGazete.Properties.Settings.Sesli_OkumaConnectionString"
            connectionString="Data Source=DESKTOP-L46D9TA\SQLEXPRESS;Initial Catalog=Sesli_Okuma;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>